<div style="display: none; direction: rtl;">
    From: @ViewBag.From
    To: @ViewBag.To
    Subject: @ViewBag.Subject
</div>

<tr style="font-family: Tahoma, Arial; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Tahoma, Arial; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; direction: rtl;" valign="top">
        <strong>@ViewBag.Subject</strong>
    </td>
</tr>
<tr style="font-family: Tahoma, Arial; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Tahoma, Arial; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 10px; padding: 0 0 20px; direction: rtl;" valign="top">
        کاربر گرامی، به دلایل امنیتی اکانت مدیریتی خود حتماً به اکانت خود مراجعه کرده و رمز عبور فعلی را به رمز عبور دلخواه خود بروز رسانی نمائید.
        <br />
        <br />
        نام کاربری: @ViewBag.To
        <br />
        رمز عبور جدید شما: <span dir="ltr">@ViewBag.NewPassword</span>
    </td>
</tr>
<tr style="font-family: Tahoma, Arial; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Tahoma, Arial; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; direction: rtl;" valign="top">
        &mdash; @ConfigurationManager.AppSettings["SystemNameFa"]
    </td>
</tr>
