@{
    ViewBag.Title = "گالری";
    Layout = MVC.Dashboard.Shared.Views._ProfessorMasterLayout;
}

<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">گالری</h3>

        @*<div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium" data-uk-grid-margin>
            <div style="width: 100%;">
                <div class="md-card">
                    <div class="md-card-content">
                        <ul class="md-list md-list-addon md-list-right">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-primary">notifications</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">توجه</span>
                                    <span class="uk-text-medium uk-text-muted">لطفاً دروس ارائه شده در هر ترم تحصیلی را پس از اتمام آن ترم حتماً حذف نمائید.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="md-card">
            <div class="md-card-content">
                <div id="galleries_crud">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="md-fab-wrapper mb-30">
    <a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="#" id="recordAdd" data-uk-tooltip="{pos:'right', cls:'fs-16p'}" title="اضافه کردن گالری جدید">
        <i class="material-icons"></i>
    </a>
</div>

<span id="variables" class="display-hidden" data-list-url="@Url.Action(MVC.Dashboard.Gallery.List())"
                             data-create-url="@Url.Action(MVC.Dashboard.Gallery.Create())"
                             data-update-url="@Url.Action(MVC.Dashboard.Gallery.Update())"
                             data-delete-url="@Url.Action(MVC.Dashboard.Gallery.Delete())"
                             data-list-galleryitem-url="@Url.Action(MVC.Dashboard.Gallery.ListGalleryItems())"
                             data-create-galleryitem-url="@Url.Action(MVC.Dashboard.Gallery.CreateGalleryItem())"
                             data-update-galleryitem-url="@Url.Action(MVC.Dashboard.Gallery.UpdateGalleryItem())"
                             data-delete-galleryitem-url="@Url.Action(MVC.Dashboard.Gallery.DeleteGalleryItem())"
                             data-getfile-url="@Url.Action(MVC.Home.GetFile())"></span>
