@model IList<ContentManagementSystem.Models.ViewModels.LessonPracticesViewModel>

<div class="heading_a uk-text-center"><span class="uk-badge uk-badge-success heading_a">تمرینات</span></div>
<div class="uk-grid">
    <div class="uk-width-1-1">
        <table class="uk-table mt-25 mb-30">
            <thead>
                <tr>
                    <th class="uk-text-left table-header heading_a">عنوان</th>
                    <th class="uk-text-center table-header heading_a">تاریخ درج</th>
                    <th class="uk-text-center table-header heading_a">تاریخ تحویل</th>
                    <th class="uk-text-left table-header heading_a">لینک ها</th>
                    <th class="uk-text-left table-header heading_a">توضیحات</th>
                    <th class="uk-text-center table-header heading_a"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <text>
                        <tr class="uk-table-middle">
                            <td class="uk-width-2-10 uk-text-left">
                                @if (!string.IsNullOrEmpty(item.Link))
                                {
                                    <span class="cl-effect-1"><a href="@item.Link" target="_blank" rel="nofollow"><span class="persian-number">@item.Title</span></a></span>
                                }
                                else
                                {
                                    <span class="persian-number">@item.Title</span>
                                }
                                @*<div class="uk-text-muted professor-sub-detail pr-30"><span class="black" style="border-bottom: 1px dotted #000;">تاریخ ایجاد:</span>&nbsp;<span class="persian-number">@item.CreateDateText</span></div>*@
                            </td>
                            <td class="uk-width-1-10 uk-text-center persian-number fs-09e">@item.CreateDateText</td>
                            <td class="uk-width-1-10 uk-text-center persian-number fs-09e">@(item.DeliverDate ?? "")</td>
                            <td class="uk-width-2-10 uk-text-lleft fs-09e">
                                @if (!string.IsNullOrEmpty(item.FileLink))
                                {
                                    foreach (var link in item.FilesLinkText)
                                    {
                                        <span class="cl-effect-1"><a href="@link.Value" target="_blank" rel="nofollow"><span class="persian-number">@link.Key</span></a></span>@:&nbsp;
                                    }
                                }
                            </td>
                            <td class="uk-width-3-10 uk-text-left fs-09e">
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <div class="uk-text-muted professor-sub-detail pr-30 persian-number">@item.Description</div>
                                }
                            </td>
                            <td class="uk-width-1-10 uk-text-center fs-09e">
                                @if (!string.IsNullOrEmpty(item.Filename))
                                {
                                    <a href="@Url.Action(MVC.Home.GetFile(item.FileText, 2))" class="md-btn md-btn-success md-btn-block waves-effect waves-button waves-red" title="دریافت فایل" data-uk-tooltip="{pos: 'top', cls: 'fs-16p'}"><i class="material-icons" style="font-size: 15px; vertical-align: -5px;">cloud_download</i>&nbsp;دریافت</a>
                                }
                            </td>
                        </tr>
                    </text>
                }
            </tbody>
        </table>
    </div>
</div>