@model IList<ContentManagementSystem.Models.ViewModels.LessonFilesViewModel>

<div class="heading_a uk-text-center"><span class="uk-badge uk-badge-success heading_a">فایل ها</span></div>
@foreach (var item in Model)
{
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-grid">
                <div class="uk-width-1-10 uk-vertical-align-middle uk-text-center">
                    @if (!string.IsNullOrEmpty(item.CoverFilename))
                    {
                        <img src="@Url.Action(MVC.Home.GetFile(item.CoverText, 1))" style="max-width:100px; border: 1px solid #e7e7e7; padding: 1px;" alt="@item.Title" />
                    }
                    else
                    {
                        <img src="~/build/images/document.png" style="max-width:100px;" alt="@item.Title" />
                    }
                </div>
                <div class="uk-width-9-10">
                    <div class="uk-text-muted professor-sub-detail">
                        <span class="black">عنوان:</span>&nbsp;
                        @if (!string.IsNullOrEmpty(item.Link))
                        {
                            <a href="@item.Link" target="_blank" rel="nofollow"><span class="persian-number">@item.Title</span></a>@:&nbsp;&nbsp;<span class="uk-badge uk-badge-warning fs-15">@item.FileTypeText</span>
                        }
                        else
                        {
                            <span class="persian-number">@item.Title</span>@:&nbsp;&nbsp;<span class="uk-badge uk-badge-warning fs-15">@item.FileTypeText</span>
                        }
                    </div>
                    @if (!string.IsNullOrEmpty(item.FileLink))
                    {
                        <div class="uk-text-muted professor-sub-detail">
                            <span class="black">لینک ها:</span>&nbsp;
                            @foreach (var link in item.FilesLinkText)
                            {
                                <span class="cl-effect-1"><a href="@link.Value" target="_blank" rel="nofollow"><span class="persian-number">@link.Key</span></a></span>@:&nbsp;
                            }
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Description))
                    {
                        <div class="uk-text-muted professor-sub-detail"><span class="black">توضیحات:</span><br /><span class="pr-20 persian-number">@item.Description</span></div>
                    }
                    @if (!string.IsNullOrEmpty(item.Filename))
                    {
                        <div class="uk-align-right"><a href="@Url.Action(MVC.Home.GetFile(item.FileText, 1))" class="md-btn md-btn-success waves-effect waves-button waves-red" data-uk-tooltip="{pos: 'top', cls: 'fs-16p'}" title="دریافت فایل"><i class="material-icons" style="font-size: 15px; vertical-align: -5px;">cloud_download</i>&nbsp;&nbsp;دریافت فایل</a></div>
                    }
                </div>
            </div>
        </div>
    </div>
    if(item != Model.Last())
    {
        <hr class="uk-grid-divider">
    }
}
