@model IEnumerable<ContentManagementSystem.Models.ViewModels.PublicationViewModel>

<div class="uk-grid uk-margin-medium-top uk-margin-large-bottom section-in-mobile" data-uk-grid-margin="">
    <div class="uk-width-1-1 uk-container uk-container-center">
        <div class="icon-container" data-uk-tooltip="{pos:'top', cls:'fs-16p'}" title="تدوین ها و تالیفات">
            <i class="fa fa-book fa-35" style="padding-top: 25%;color:#ff6e40;"></i>
        </div>
        <div class="md-card">
            <div class="md-card-content pt-70">
                <h3 class="heading_c head uk-text-center uk-text-muted">تدوین ها و تالیفات</h3>
                <div class="uk-overflow-container pb-15 pt-30">
                    <ul class="professor-details-list">
                        @foreach (var pub in Model)
                        {
                            <li>
                                @if (!string.IsNullOrEmpty(pub.Link))
                                {
                                    if (pub.FullTime != null)
                                    {
                                        <a href="@pub.Link" target="_blank" rel="nofollow"><strong class="persian-number">@pub.Title</strong></a>@:&nbsp;&nbsp;<span class="persian-number">(@pub.FullTime)</span>
                                    }
                                    else
                                    {
                                        <a href="@pub.Link" target="_blank" rel="nofollow"><strong class="persian-number">@pub.Title</strong></a>
                                    }
                                }
                                else
                                {
                                    if (pub.FullTime != null)
                                    {
                                        <strong class="persian-number">@(pub.Title)</strong>@:&nbsp;&nbsp;<span class="persian-number">(@pub.FullTime)</span>
                                    }
                                    else
                                    {
                                        <strong class="persian-number">@(pub.Title)</strong>
                                    }
                                }
                                @if (!string.IsNullOrEmpty(pub.Publisher))
                                {
                                    <div class="uk-text-muted professor-sub-detail"><span class="black" style="border-bottom: 1px dotted #000;">انتشارات:</span>&nbsp;<span class="persian-number">@pub.Publisher</span></div>
                                }
                                @if (!string.IsNullOrEmpty(pub.Description))
                                {
                                    <div class="uk-text-muted professor-sub-detail"><span class="black" style="border-bottom: 1px dotted #000;">توضیحات:</span>&nbsp;<span class="persian-number">@pub.Description</span></div>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
