@model ContentManagementSystem.Models.ViewModels.AdminDashboardStatisticViewModel
@{ 
    var gridClass = "uk-grid-width-large-1-4";
    if (Model.NumberOfDisableUsers > 0)
    {
        gridClass = "uk-grid-width-large-1-5";
    }
}

<div class="uk-grid @gridClass uk-grid-width-medium-1-2 uk-grid-medium" data-uk-grid-margin>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <a href="@Url.Action(MVC.Dashboard.Admin.ActionNames.ManageUsers, MVC.Dashboard.Admin.Name)">
                    <div class="uk-float-right uk-margin-top uk-margin-small-right"><i class="material-icons md-48 green">group</i></div>
                    <span class="uk-text-muted uk-text-small">تعداد اساتید</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>@Model.NumberOfProfessors</noscript></span></h2>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <a href="@Url.Action(MVC.Dashboard.Admin.AdminMessage(showPendingMessages: true))">
                    <div class="uk-float-right uk-margin-top uk-margin-small-right"><i class="material-icons md-48 teal">contact_mail</i></div>
                    <span class="uk-text-muted uk-text-small">تعداد پیام های معلق</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>@Model.NumberOfPendingAdminMessages</noscript></span></h2>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <a href="@Url.Action(MVC.Dashboard.Admin.College())">
                    <div class="uk-float-right uk-margin-top uk-margin-small-right"><i class="fa fa-university fushia" style="font-size: 38px !important;"></i></div>
                    <span class="uk-text-muted uk-text-small">تعداد دانشکده ها/دپارتمان ها</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>@Model.NumberOfColleges</noscript></span></h2>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <a href="@Url.Action(MVC.Dashboard.Admin.EducationalGroup())">
                    <div class="uk-float-right uk-margin-top uk-margin-small-right"><i class="fa fa-users maroon" style="font-size: 38px !important;"></i></div>
                    <span class="uk-text-muted uk-text-small">تعداد گروه های آموزشی</span>
                    <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>@Model.NumberOfEducationalGroups</noscript></span></h2>
                </a>
            </div>
        </div>
    </div>
    @if (Model.NumberOfDisableUsers > 0)
    {
        <div>
            <div class="md-card">
                <div class="md-card-content">
                    <a href="@Url.Action(MVC.Dashboard.Admin.ManageUsers(showDisableUsers: true))">
                        <div class="uk-float-right uk-margin-top uk-margin-small-right"><i class="material-icons md-48 red">fingerprint</i></div>
                        <span class="uk-text-muted uk-text-small">تعداد اساتید تائید نشده</span>
                        <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>@Model.NumberOfDisableUsers</noscript></span></h2>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
